%h2 Newest tools
%table
  %thead
    %tr
      %th Tool
      %th Website
  %tbody
    - @tools.each do |tool|
      %tr
        %td
          = link_to tool.name, tool_path(tool)
          = tool.description
        %td= link_to tool.website, tool.website, :target => "_blank"

%br

= link_to 'Add Tool', new_tool_path, :class => "medium radius button"
