/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation
 *= require_tree . 
*/

#header {
  padding: 10px 20px;
  background: #000;
  border-bottom: 4px #00a5ff solid;
  margin-bottom: 20px;
  color: #7f7f7f;
  
  #logo {
    color: #fff;
    font-size: 16px;
    padding-right: 20px;
    
    a {
      color: #fff;
    }
  }
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear {
  clear: both;
}